@model ComputerService.Models.Question

@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <element onclick="myScript">
        <meta name="viewport" content="width=device-width" />
        <title>Service</title>
        <div>
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
            <a asp-controller="Home" asp-action="Privacy">Back to List</a>
        </div>
</head>
<body>



    <h4>Question</h4>
    <hr />

    <div class="quest">
        <table>
            <td>
                @{ int total = 0; }
                @foreach (string Q in Model.ListQust.Que)
                {


                    Write(Q);

                    <p></p>
                    total++;

                }
            </td>

            <TD>

                @using (Html.BeginForm())
                {

                    <div>
                        Yes @Html.RadioButtonFor(Model => Model.SelectedAnswer[0], true)
                        No @Html.RadioButtonFor(Model => Model.SelectedAnswer[0], false)
                    </div>
                    <p></p>
                    <div>
                        Yes @Html.RadioButtonFor(Model => Model.SelectedAnswer[1], true)
                        No @Html.RadioButtonFor(Model => Model.SelectedAnswer[1], false)
                    </div>
                    <p></p>
                    <div>
                        Yes @Html.RadioButtonFor(Model => Model.SelectedAnswer[2], true)
                        No @Html.RadioButtonFor(Model => Model.SelectedAnswer[2], false)
                    </div>
                    <p></p>
                    <div>
                        Yes @Html.RadioButtonFor(Model => Model.SelectedAnswer[3], true)
                        No @Html.RadioButtonFor(Model => Model.SelectedAnswer[3], false)
                    </div>
                    <p></p>
                    <div>
                        Yes @Html.RadioButtonFor(Model => Model.SelectedAnswer[4], true)
                        No @Html.RadioButtonFor(Model => Model.SelectedAnswer[4], false)
                    </div>
                    <p></p>
                    <div>
                        Yes @Html.RadioButtonFor(Model => Model.SelectedAnswer[5], true)
                        No @Html.RadioButtonFor(Model => Model.SelectedAnswer[5], false)
                    </div>
                    <p></p>
                    <div>
                        Yes @Html.RadioButtonFor(Model => Model.SelectedAnswer[6], true)
                        No @Html.RadioButtonFor(Model => Model.SelectedAnswer[6], false)
                    </div>
                    <p></p>
                    <input type="submit" value="Save">
                }

            </TD>
        </table>
    </div>

</body>
</html>

