@model ComputerService.Controllers.HomeController
@{

    ViewData["Title"] = "Home Page";
    string[] TableHeadres = new string[] {

    "Name",


    "Brand",


    "Type",


    "Price",


    "Image"};
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/js/Service.js" rel="stylesheet" />
    <script defer src="~/js/Service.js"></script>
    <element onclick="myScript">
        <meta name="viewport" content="width=device-width" />
        <title>Service</title>
        <div>
            <a asp-controller="Home" asp-action="Privacy">Back to List</a>
        </div>
</head>
<!---<div class="table">
    <table class="table">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeadres)
                    {
                        <th>
                            @head
                        </th>
                    }

                }

            </tr>


        </thead>
        <tbody>-->
<body>
    <div id="myBtnContainer">
        <button class="btn-filtr active" onclick="filterSelection('all')">
            Show all
        </button>
        <button class="btn-filtr" onclick="filterSelection('Procesor')" ;> Procesor</button>
        <button class="btn-filtr" onclick="filterSelection('monitor')" ;> Monitor</button>
        <button class="btn-filtr" onclick="filterSelection('Card')" ;"> Cards</button>
        <button class="btn-filtr" onclick="filterSelection('Headphones')" ;"> Headophones</button>
        <p></p>

    </div>
    <div class="s-container">

        @{var counter = 0;}
        @{
            if (Model != null)
            {
                foreach (var Data in Model.items)
                {
                    
    <div class="filterDiv @Data.Type">
        <div class="ss-container">
            <p></p>
            <p></p>
            <div class="picture"><img src="/@Data.Image" width=200 height=200 alt="Alternate Text" /></div>
            <div><h2>@Data.Name</h2></div>
            <div class="line2">

                <div class="Price">Price: <span style="color: red">$@Convert.ToInt32(Data.Price)</span></div>
                @if (Convert.ToInt32(Data.Price) > 200)
                {
                    <div> transport for free </div>
                }
                else
                {
                    <div> free transort for over $200 </div>
                }

            </div>
            <p></p>
            <p></p>
                @Model.amount = @Model.items.Count();
            <button class="btn btn-primary " type="button" value="@Data.Id " onclick="location.href='@Url.Action("Cart","Home",Data.Id)'"></button>
            @counter++;
            <p></p>
            <p></p>
            <p></p>

        </div>
    </div>


}
}
        }
        @*@using (Html.BeginForm())
        {

            <div>yes @Html.RadioButtonFor(M => M.amount, 1);</div>
            <input class="btn btn-primary align-content-md-center" value="Submit" type="submit" id="submit" onclick="eatFood()" />
        }*@
    </div>

    <!--
                </tbody>


                </table>

                </div>
        -->
</body>
</html>
